{% extends "base.html" %}
{% block title %}{{nombre}}{% endblock %}
{% block content %}
    {% if peticion %}
        <section class="about">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-7">
                        <div class="titlepage">
                            <h2>{{nombre}} <img id="imagen" src="http://ddragon.leagueoflegends.com/cdn/10.10.3208608/img/profileicon/{{icono}}.png" alt="Icono del invocador"/></h2>
                        </div>
                        <h2>Nivel: {{nivel}}</h2>
                        <table class="tg">
                            <tr>
                                <th class="tg-hst0">Identificador</th>
                                <th class="tg-hst0">Campeón</th>
                                <th class="tg-hst0">Temporada</th>
                                <th class="tg-hst0">Posición</th>
                            </tr>
                        {% for i in peticion.matches %}
                            <tr>
                                <th class="tg-rkfb">{{i.gameId}}</th>
                                {% for elem in champs.data.values() %}
                                    {% if (i.champion|string) == elem.key %}
                                        <th class="tg-rkfb">{{elem.name}}</th>
                                    {% endif %}
                                {% endfor %}
                                <th class="tg-rkfb">{{i.season}}</th>
                                {% if i.lane == "NONE" %}
                                    <th class="tg-rkfb">Desconocida.</th>
                                {% else %}
                                    <th class="tg-rkfb">{{i.lane.capitalize()}}</th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    {% elif fallo %}
        <section class="about">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-5">
                        <div class="titlepage">
                            <h2>Sin coincidencias.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}