{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<section class="about">
    <div class="container">
       <div class="row d_flex">
            <div class="col-md-11">
                <div class="titlepage">
                    <h2>Introducción</h2>
                    <p></p>
                    <p id="inicio"><strong><a href="/status">Estado:</a></strong> Muestra el estado actual de los servicios del videojuego.</p>
                    <p id="inicio"><strong><a href="/invocador">Invocador:</a></strong> Pide el nombre de un invocador y te muestra el historial de partidas o la partida actual (en caso de haberla).</p>
                    <p id="inicio"><strong><a href="/top">Top:</a></strong> Permite filtrar para ver los mejores jugadores del servidor. Cuenta con botones para navegar entre las páginas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}