<!DOCTYPE html>
<html lang="es" dir="ltr">
	<head>
		<title>Sitio en mantenimiento</title>
		<!-- custom-theme -->
		<link rel="icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/png" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Site Under Maintenance Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //custom-theme -->
		<link href="{{url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='css/style1.css')}}" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body class="bg-agileinfo">
	   <h1 class="agile-head text-center">SITIO EN MANTENIMIENTO</h1>
		<div class="container-w3">
			<div class="content1-w3layouts"> 
				<img src="{{url_for('static', filename='img/2.png')}}" alt="under-construction">
				<p class="text-center">Disculpe las molestias. Para mejorar nuestros servicios, hemos cerrado temporalmente nuestro sitio.</p>
			</div>
			<div class="demo2"></div>
			<div class="wthree-social-icons">
				<ul class="w3-links">
					<li><a href="https://es-es.facebook.com/pages/category/Education/IES-Gonzalo-Nazareno-105267186706673/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/ies_gn?lang=es"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/alvarovaca26/"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/alvarovaca"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	    <div class="agileits-w3layouts-copyright text-center">
			<p>© 2020 All Rights Reserved. Made by <a href="https://github.com/alvarovaca"> Álvaro Vaca</a></p>
		</div>
		<script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/dscountdown.css')}}" type='text/css' media='all' />
		<!-- Counter required files -->
			<script src="{{url_for('static', filename='js/dscountdown.min.js')}}"></script>
			<script>
				jQuery(document).ready(function($){						
					$('.demo2').dsCountDown({
						endDate: new Date("february 26, 2025 23:59:00"),
						theme: 'black'
					});								
				});
			</script>
		<!-- //Counter required files -->
	</body>
</html>