{% extends "base.html" %}
{% block title %}Top jugadores{% endblock %}
{% block content %}
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Top jugadores</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form id="request" class="main_form" action="/top" method="POST">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div id="blanco">
                                    Tier: <select name="tier">
                                        {% for i in tierstr %}
                                            {% if i == tier %}
                                                <option value="{{tiers[tierstr.index(i)]}}" selected>{{i}}</option>
                                            {% else %}
                                                <option value="{{tiers[tierstr.index(i)]}}">{{i}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="blanco">
                                    División: <select name="division">
                                        {% for i in divisions %}
                                            {% if i == division %}
                                                <option value="{{i}}" selected>{{i}}</option>
                                            {% else %}
                                                <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="blanco">
                                    Página: <input class="contactus2" type="number" name="page" value="{{page}}" min="1" required> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% if peticion %}
        <section class="about">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-7">
                        <div class="titlepage">
                            <h2>Coincidencias</h2>
                        </div>
                        <table class="tg">
                            <tr>
                                <th class="tg-hst0">Nombre de invocador</th>
                                <th class="tg-hst0">Puntos de liga</th>
                                <th class="tg-hst0">Partidas</th>
                                <th class="tg-hst0">Victorias</th>
                                <th class="tg-hst0">Derrotas</th>
                                <th class="tg-hst0">% Victorias</th>
                            </tr>
                        {% for i in peticion %}
                            <tr>
                                <th class="tg-rkfa"><a href="/invocador/{{i.summonerName}}">{{i.summonerName}}</a></th>
                                <th class="tg-rkfb">{{i.leaguePoints}}</th>
                                <th class="tg-rkfb">{{i.wins+i.losses}}</th>
                                <th class="tg-rkfd">{{i.wins}}</th>
                                <th class="tg-rkfc">{{i.losses}}</th>
                                {% if ((i.wins/(i.wins+i.losses)*100)|round(2)) >= 50 %}
                                    <th class="tg-rkfd">{{(i.wins/(i.wins+i.losses)*100)|round(2)}}%</th>
                                {% else %}
                                    <th class="tg-rkfc">{{(i.wins/(i.wins+i.losses)*100)|round(2)}}%</th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    {% elif fallo %}
        <section class="about">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-5">
                        <div class="titlepage">
                            <h2>Sin coincidencias.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}